/* Demo styles */
body {
	font-family: sans-serif;
	font-size: 100%;
}
.docs-main {
	margin: 1em;
	max-width: 48em;
}
@media (min-width: 50em){
	.docs-main {
		margin: 1em auto;
	}
}
label {
	display: block;
	margin: 1em 0;
}
input,
textarea {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin-top: .4em;
	padding: .6em;
	font-size: 100%;
}

.menu {
	background-color: white;
	box-sizing: border-box;
	border: 1px solid black;
	width: 10em;
}

.menu ul, .menu ol {
	list-style: none;
	padding: 5px;
	margin: 0;
}

.menu-selected {
	color: white;
	background-color: #aaa;
}

input {
	box-sizing: border-box;
	width: 10em;
}

h1.docs,
h2.docs,
h3.docs,
h4.docs,
h5.docs {
	font-weight: 500;
	margin: 1em 0;
	text-transform: none;
	color: #000;
	clear: both;
}

h1.docs { font-size: 2.8em; margin-top: .1em; text-transform: uppercase; }
h2.docs { font-size: 2.2em; margin-top: 1.5em; border-top:1px solid #ddd; padding-top: .6em; float:none; }
h3.docs { font-size: 1.6em; margin-top: 1.5em; margin-bottom: .5em; }
h4.docs { font-size: 1.4em; margin-top: 1.5em; }

p.docs,
p.docs-intro,
ol.docs,
ul.docs,
p.docs-note,
dl.docs {
	margin: 1em 0;
	font-size: 1em;
}

ul.docs,
ol.docs {
	padding-bottom: .5em;
}
ol.docs li,
ul.docs li {
	margin-bottom: 8px;
}
ul.docs ul,
ol.docs ul {
	padding-top: 8px;
}
.docs code {
	font-size: 1.1em;
}

p.docs strong {
	font-weight: bold;
}

.docs-note {
	background-color: #FFFAA4;
}
.docs-note p,
.docs-note pre,
p.docs-note {
	padding: .5em;
	margin: 0;
}


/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-weight: normal;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	font-size: .9em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

pre[class*="language-"] {
	padding: 1em;
	margin: 0;
	margin-bottom: 1em;
}



/* next prev arrow selectors */
.snapper_nextprev,
.snapper_nextprev_item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.snapper_nextprev_next,
.snapper_nextprev_prev {
  position: absolute;
  top: 50%;
  width: 46px;
  height: 46px;
  line-height: 46px;
	margin-top: -23px;
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
	text-align: center;
  font-size: .7em;
  text-transform: uppercase;
  opacity: .8;
  text-decoration: none;
	cursor: pointer;
  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.snapper_nextprev_next:hover,
.snapper_nextprev_prev:hover {
  opacity: 1;
}
.snapper_nextprev_next {
  right: -23px;
}
.snapper_nextprev_prev {
  left: -23px;
}


@media (min-width: 40em) {
	.snapper_nextprev_next,
	.snapper_nextprev_prev {
	  width: 50px;
	  height: 50px;
    line-height: 50px;
		margin-top: -25px;
	}
	.snapper_nextprev_next {
	  right: -25px;
	}
	.snapper_nextprev_prev {
	  left: -25px;
	}
}



/* dots nav */
.snapper_nav-dots {
	display: block;
	margin: 0;
	text-align: center;
}
.snapper_nav-dots a {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 2px;
	background: #ccc;
	border-radius: 100%;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
}
.snapper_nav.snapper_nav-dots a {
	float: none;
}
.snapper_nav-dots a.snapper_nav_item-selected {
	background: #111;
	box-shadow: none;
	border: none;
	outline: none;
}
